{% extends "base.html" %}

{% block title %}The Holy Ale{% endblock %}

{% block navbar %}
<li><a href="/blog">Blog</a></li>
<li><a href="/shops">Shops</a></li>
<li class="active"><a href="/beer">Beers</a></li>
<li><a href="/about">About</a></li>
{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<p id="lead">Here you will find a list of all the beers that were tasted all around the world and deemed worthy of mentioning in the Great Halls of Beerhalla!</p>
	</div>	
	<div class="row beertiles">
		{% for beer in beer_list %}
		<div class="col-6 col-sm-6 col-lg-4">
			<img class="img" src="{{beer.picture}}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<div class= "beertile">	
				<h2>{{beer}}</h2>
				<p>{{beer.description}}</p>
			</div>
			<p><a class="btn btn-default" href="{% url 'detail' beer.id %}" role="button">View details »</a></p>
		</div><!-- /.col-lg-4 -->
		{% endfor %}
	</div>
{% endblock %}
